{% extends '@core/base.html.twig' %}

{% block body %}
    <body class="hold-transition skin-red sidebar-mini">
        <div class="wrapper">

            {% include '@core/components/header.html.twig' %}
            {% include '@core/components/sidebar.html.twig' %}

            {% block main %}
            {% endblock %}

            {% include '@core/components/footer.html.twig' %}
            {% include '@core/components/controlbar.html.twig' %}

        </div>
    </body>
{% endblock %}