<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ context.activePerson.avatar }}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{ context.activePerson.shortName }}</p>
                <!-- Status -->
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- search form (Optional) -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
            </div>
        </form>
        <!-- /.search form -->

        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">{% trans 'MENU' %}</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active"><a href="/"><i class="fa fa-dashboard"></i> <span>{% trans 'Dashboard' %}</span></a></li>
            {% if context.isModuleInstalled('people') %}
            <li class="treeview">
                <a href="#"><i class="fa fa-user"></i>
                    <span>{% trans 'People' %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/people">{% trans 'List' %}</a></li>
                    <li><a href="/people/new">{% trans 'Create New' %}</a></li>
                </ul>
            </li>
            {% endif %}
            {% if context.isModuleInstalled('households') %}
            <li class="treeview">
                <a href="#"><i class="fa fa-home"></i>
                    <span>{% trans 'Households' %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">{% trans 'List' %}</a></li>
                    <li><a href="#">{% trans 'Create New' %}</a></li>
                </ul>
            </li>
            {% endif %}
            {% if context.isModuleInstalled('groups') %}
            <li class="treeview">
                <a href="#"><i class="fa fa-group"></i>
                    <span>{% trans 'Groups' %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">{% trans 'List' %}</a></li>
                    <li><a href="#">{% trans 'Create New' %}</a></li>
                </ul>
            </li>
            {% endif %}
            {% if context.isModuleInstalled('events') %}
            <li class="treeview">
                <a href="#"><i class="fa fa-calendar"></i>
                    <span>{% trans 'Events' %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">{% trans 'List' %}</a></li>
                    <li><a href="#">{% trans 'Create New' %}</a></li>
                </ul>
            </li>
            {% endif %}
            {% if context.isModuleInstalled('accounting') %}
            <li class="treeview">
                <a href="#"><i class="fa fa-money"></i>
                    <span>{% trans 'Accounting' %}</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#">{% trans 'Balance' %}</a></li>
                    <li><a href="#">{% trans 'Transactions' %}</a></li>
                </ul>
            </li>
            {% endif %}
        </ul>
        <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
</aside>