{% extends '@core/layout/main.html.twig' %}

{% block title %}Personas{% endblock %}

{% block main %}
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Personas
                <small>Personas registradas en la congregación</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                <li class="active">Here</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content container-fluid">

            {% include '@people/components/people-table.html.twig' %}

        </section>
    </div>
{% endblock %}