<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iglesia UNO - People Manager</title>
    <link rel="stylesheet" href="/build/app.css">
    {% block css %}
    {% endblock %}
</head>
<body>
<div id="vue">
    {% block body %}
    {% endblock %}
</div>
<script src="/build/app.js"></script>
{% block scripts %}
{% endblock %}
</body>
</html>