<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Iglesia UNO - People Install</title>
    <link href="/build/app.css" rel="stylesheet">
    <link href="/build/login.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" id="vue" action="/auth/install" method="POST">
    <img class="mb-4" src="https://www.iglesiauno.cl/wp-content/uploads/2017/06/cropped-logo-2.png">
    <h1 class="h3 mb-3 font-weight-normal">Instalacion</h1>
    {% if error %}
        <uno-alert type="danger" time="4">
            <p>{{ error }}</p>
        </uno-alert>
    {% endif %}
    <label for="inputNames" class="sr-only">Nombres</label>
    <input name="given" type="text" id="inputNames" class="form-control" placeholder="Nombres" required>
    <label for="inputFather" class="sr-only">Apellido Paterno</label>
    <input name="father" type="text" id="inputFather" class="form-control" placeholder="Apellido Paterno" required>
    <label for="inputMother" class="sr-only">Apellido Materno</label>
    <input name="mother" type="text" id="inputMother" class="form-control" placeholder="Apellido Materno" required>
    <label for="inputEmail" class="sr-only">Email</label>
    <input name="email" type="text" id="inputEmail" class="form-control" placeholder="Email" required>
    <label for="inputUsername" class="sr-only">Usuario</label>
    <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Usuario" required>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Instalar</button>
    <p class="mt-5 mb-3 text-muted">&copy; People Manager 2017-2018</p>
</form>
<script src="/build/app.js"></script>
</body>
</html>
