<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Iglesia UNO - People Login</title>
    <link href="/build/app.css" rel="stylesheet">
    <link href="/build/login.css" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" id="vue" action="/auth/login" method="POST">
    <img class="mb-4" src="https://www.Ekklesion.cl/wp-content/uploads/2017/06/cropped-logo-2.png">
    <h1 class="h3 mb-3 font-weight-normal">Inicie Sesión</h1>
    {% if error %}
        <uno-alert type="danger" time="4">
            <p>{{ error }}</p>
        </uno-alert>
    {% endif %}
    <label for="inputEmail" class="sr-only">Usuario</label>
    <input name="username" type="text" id="inputEmail" class="form-control" placeholder="Usuario" required autofocus>
    <label for="inputPassword" class="sr-only">Contraseña</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
    <div class="checkbox mb-3">
        <label>
            <input name="remember" type="checkbox"> Recordarme por dos semanas
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; People Manager 2017-2018</p>
</form>
<script src="/build/app.js"></script>
</body>
</html>
