{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="build/dashboard.css">
{% endblock %}

{% block body %}

    {% include 'components/navbar.html.twig' %}

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                {% include 'components/sidemenu.html.twig' %}
            </nav>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block main %}
                {% endblock %}
            </main>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
{% endblock %}