{% extends 'base.html.twig' %}

{% block body %}
    <body class="hold-transition skin-red sidebar-mini">
        <div class="wrapper">

            {% include 'components/header.html.twig' %}
            {% include 'components/sidebar.html.twig' %}

            {% block main %}
            {% endblock %}

            {% include 'components/footer.html.twig' %}
            {% include 'components/controlbar.html.twig' %}

        </div>
    </body>
{% endblock %}